* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(44, 44, 44), black);
    background-attachment: fixed;
    background-position: center;
}

input {
    margin: 10px;
    width: 100px;
    height: 20px;
}




.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
    flex-wrap: wrap;
    
}
.main .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    margin-right: 100px;
    width: 50%;
}




.main .text h1 {
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: flex-start;
    margin-bottom: 50px;
    color: white;
    font-weight: lighter;
    font-size: 60px;

}

.mediaIcons {
    display: flex;
    align-self: flex-start;
}

.mediaIcons a {
    color: rgb(170, 170, 170);
    margin-right: 50px;
}
.mediaIcons a:hover {
    color: white;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.main .text p {
    margin-bottom: 30px;
    color: rgb(170, 170, 170);
    line-height: 2;
    margin-top: 50px;
    font-size: 18px;
}


.image ul li {
    display: block;
    list-style: none;
    margin: 30px 20px;
    
}

.image ul {
    border-left: 1px solid rgb(170, 170, 170);
}

.image ul li a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    font-size: 18px;
}

.image ul li a:hover {
    color: white;
}

.image ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(0, 134, 255);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.image ul li a:hover::after {
    width: 100%;
}


.main .text #button {
    align-self: flex-start;
    padding: 10px;
    color: white;
    background: rgb(0, 134, 255);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    
}

.main .text #button:hover {
    background: rgb(0, 104, 189);
    transition: 0.5s;
}

.about {
    padding: 80px 0;
    color: rgb(170, 170, 170);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 100px;
    margin-top: 200px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1 {
    flex-basis: 35%;
}

.about-col1 img {
    width: 400px;
    border-radius: 25px;
}

.about-col2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: white;

}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(0, 134, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;

}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0px;
}

.tab-contents ul li span {
    font-size: 14px;
    color: white;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}



.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
}


.contact #form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact #form h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 50px;
}

.contact #form .entries {
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    background: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#message2 {
    padding: 10px;
    resize: none;
}

#message2::-webkit-scrollbar {
    background: none;
}
.contact #form .entries:focus {
    outline: none;

}

#submit {
    margin-top: 50px;
    width: 300px;
    background: rgb(0, 110, 201);
    color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background: rgb(0, 104, 189);
    transition: 0.5s;
}


#form {
    margin-top: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

#thanks {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}




@media screen and (max-width: 768px) {

    .main {
        margin: 50px 50px 50px 50px;
    }

    .main .text {
        width: 100%;
        margin: 0px;
        margin-top: 50px;
    }

    .main .text #button {
        align-self: center;
    }

    .image ul {
        margin-top: 50px;
    }

    .about-col1 img {
        width: 300px;
        align-self: center;
    
    }

    #submit {
        width: 150px;
    }

}

@media (min-width: 768px) and (max-width: 1300px) {

    .main img {
        width: 200px;
        
    }

    .main .text {
        margin-right: 0px;
    }

    .main .text #button {
        align-self: center;
    }

}

.hidden {
    display: none;
}
